<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header's">
    <meta charset="UTF-8" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body class="body-background">
<nav id="nav" class="nav-dark ">
    <a class="a-box nav-a-box nav-start" th:href="@{/}">Main Page</a>
    <a class="a-box nav-a-box nav-end" th:href="@{/post}">Create Chart</a>
    <a class="a-box nav-a-box nav-start" th:href="@{/logout}" style="margin-left: 72pc;">Log Out</a>
</nav>
<h4 style="padding-top: 2rem;"> Logged-in as : <span th:text="${#authentication.name}"class="login-username">Username</span></h4>
<div id="welcome-title">
    <h1 class="header">Chart Checker</h1>
</div>
<div class="chart_box_post chart_box_color">
    <h1 class="header">Charts</h1>
    <div class="chart-post-grid ">
        <div th:each="post: ${listPosts}" class="chart-post-background" style="border-radius: 12px;">
            <tbody>
            <tr th:if="${listPosts.empty}">
                <td colspan="2"> No Charts Available </td>
            </tr>
            <tr>
                <h3><span th:text="${post.title}" style="color: #eef1ee; margin: 18px;"> Title </span></h3>
                <div class="chart-post-background container" style="background-color: #a6eca6; margin: 20px; padding-bottom: 1px; border-radius: 5px; ">
                    <p><span th:text="${post.body}"> Body </span></p>
                </div>

            </tr>
            </tbody>
            <a class="a-chart-button nav-a-dark" th:href="@{/post_detail/{id}(id = ${post.id})}">Check Chart Table</a>
        </div>
    </div>
</div>
</body>
</html>